<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop = "http://www.springframework.org/schema/aop"
xsi:schemaLocation = "http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

<aop:config>
	<aop:aspect id="log" ref="logging">
		<aop:pointcut expression="execution(*
com.classes.*.*(..))" id="myid"/>
		<aop:before method="beforeAdvice" pointcut-ref="myid"/>
		<aop:after method="afterAdvice" pointcut-ref="myid"/>
	</aop:aspect>
</aop:config>
<bean id="student" class="com.classes.Student">
<property name="name" value="Sukhiram"></property>
<property name="age" value="35"></property>
</bean>
<bean id="logging" class="com.classes.Logging"></bean>

</beans>